# Compiled class file
*.class
**/.classpath

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.rar

# Logs
**/logs

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build
**/target
*.swp

# Lock files
.~lock*

# Intellij
.idea
*.iml
**/*.iml
**/.idea
**/.project
**/.repository/*
**/.settings/*
**/.directory
generated/*

